{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/env.css' %}">
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">

    {% block css %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% load livereload_tags %}
    {% livereload_script %}
</head>
<body>
    <nav class="nav">
        <h3 class="logo">SPETICTS</h3>
        <div class="user">
            <a href="">Logout</a>
            <div class="profile"></div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>