{% extends "nav-bar.html" %}

{% block styleScript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/input.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
<div class="box">
        <div class="stt-vz">
            <form class="stt-detil" method="post" enctype="multipart/form-data" style="width: 25rem;">
                {% csrf_token %}
                <div class="project-name" style="margin-bottom: 1rem;">
                    <h1 class="text-3xl font-bold">SPEECH TO TEXT</h1>
                </div>
                <div class="lang">
                    {{ user.username }}
                    <h3>Language (Indonesia)</h3>
                </div>
                <div class="audio-file"
                    style="width: 100%; padding: 0.3rem; background: white; border: 1px #BFBFBF solid; border-radius: 5px;">
                    <input type="file" name="audio" id="" accept="audio/*">
                </div>
                <p style="font-style: italic;">require mp3, mpeg</p>
                <button type="submit" id="generate-stt">Generate</button>
                <div class="result-text">
                    <h3 style="margin-top: 15px;">Text Result</h3>
                    <div class="result-box">
                        {{ transcription }}
                    </div>
                </div>
            </form>
            <form class="chart-box" id="chart-box" method="post" action="{% url 'save_results' %}">
                <div class="sat">
                    <h3 class="analysis-title">Sentiment Analysis</h3>
                    <div class="response">
                        {% csrf_token %}
                        <input type="hidden" name="text" value="{{ transcription }}">
                        <input type="hidden" name="file_name" value="{{ file_name }}">
                        {% for sentence, positive, negative, neutral in sentences_with_sentiment %}
                        <input type="hidden" name="sentences" value="{{ sentence }}">
                        <div class="sentiment">
                            <input type="hidden" name="positive" value="{{ positive }}">
                            <input type="hidden" name="neutral" value="{{ neutral }}">
                            <input type="hidden" name="negative" value="{{ negative }}">
                            {% if positive > neutral and positive > negative %}
                                <span class="positive text">
                                    {{ sentence }}.
                                    <span class="positive-t text-t">
                                        <p class="bigger">Positive</p>
                                        {% comment %} <p class="smaller">Neutral: {{ neutral }}</p>
                                        <p class="smaller">Negative: {{ negative }}</p> {% endcomment %}
                                    </span>
                                </span>
                            {% elif neutral > positive and neutral > negative %}
                                <span class="neutral text">
                                    {{ sentence }}.
                                    <span class="neutral-t text-t">
                                        <p class="bigger">Neutral</p>
                                        {% comment %} <p class="smaller">Positive: {{ positive }}</p>
                                        <p class="smaller">Negative: {{ negative }}</p> {% endcomment %}
                                    </span>
                                </span>
                            {% else %}
                                <span class="negative text">
                                    {{ sentence }}.
                                    <span class="negative-t text-t">
                                        <p class="bigger">Negative</p>
                                        {% comment %} <p class="smaller">Neutral: {{ neutral }}</p>
                                        <p class="smaller">Positive: {{ positive }}</p> {% endcomment %}
                                    </span>
                                </span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>                    
                    <!-- <div class="SA" style="width: auto;">
                        <h2 id="chart" style="margin-top: 0;">Sentiment Analytics</h2>
                        <div class="sa-score" style="display: flex;">
                            <p style="font-size: x-large; font-weight: bold; margin-right: 10px; justify-self: center;">
                                score:</p>
                            <div class="sa-score-box"
                                style="display: flex; height: 40px; width: 100%; border-radius: 5px; align-items: center; justify-content: center; margin-bottom: 10px; border: 2px solid rgb(31 41 55); color: rgb(31 41 55); font-weight: 600;">
                                0.115</div>
                        </div>
                        <div class="sa-info" style=" border-radius: 10px; overflow: hidden;">
                            <div class="sa-score-box"
                                style="display: flex; height: 40px; width: 100%; align-items: center; justify-content: center; background-color: #abff6b; color: rgb(31 41 55); font-weight: 500;">
                                Positive (0.25 - 1.0)</div>
                            <div class="sa-score-box"
                                style="display: flex; height: 40px; width: 100%; align-items: center; justify-content: center; background-color: #f3f7b0; color: rgb(31 41 55); font-weight: 500;">
                                Neutral (-0.25 - 0.25)</div>
                            <div class="sa-score-box"
                                style="display: flex; height: 40px; width: 100%; align-items: center; justify-content: center; background-color: #ffa476; color: rgb(31 41 55); font-weight: 500;">
                                Negative (-1.0 - -0.25)</div>
                        </div>
                    </div> -->
                    
                </div>.entity-text {
    position: relative;
    display: inline;
    font-weight: 600;
}

.text-t p {
    font-size: smaller;
}

.entity-text:hover {
    text-decoration: underline;
}

.entity-text::before {
    content: attr(data-label);
    position: absolute;
    background-color: black;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    z-index: 1;
    top: -25px; /* Menggeser label ke atas */
    left: 50%; /* Pusat label di atas kata/frasa */
    transform: translateX(-50%); /* Pusatkan label secara horizontal */
}

.entity-text:hover::before {
    visibility: visible;
}

.entity-text .text-t {
    display: none;
}

.entity-text:hover .text-t {
    visibility: visible;
}

                <div class="ner-results">
                    <h3 class="analysis-title">Named Entities</h3>
                    <ul class="ner-container">
                        {% for entity in named_entities %}
                            <input type="hidden" name="named_entities_texts" value="{{ entity.teks }}">
                            <input type="hidden" name="named_entities_labels" value="{{ entity.label }}">
                            {% if entity.label == "" or entity.label == '' %}
                            <span>{{ entity.teks }}</span>
                            {% else %}
                            <span class="ner text">
                                {{ entity.teks }}
                                <span class="ner text-t">
                                    {{ entity.label }}
                                </span>
                            </span>
                                
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <!-- <div class="bar-chart" style="">
                        <h2 id="chart">Bar Chart Topic</h2>
                        <div id="barChart" style=""></div>
                    </div> -->
                </div>
                <button type="submit" id="generate-stt">Save</button>
            </form>
        </div>
        <div class="detil-other">
            <div class="other-file-title" style="margin-bottom: 1rem;">
                <h1 class="text-2xl font-bold">Other Latest Input</h1>
            </div>
            <div class="other-files">
                <div class="other-file">
                    <h3>anune.mp3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce
                        posuere, magna sed pulv...</p>
                    <p class="more">
                        more <i class="bi bi-arrow-right-short" style="font-weight: bold;"></i>
                    </p>
                </div>
                <div class="other-file">
                    <h3>anune.mp3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce
                        posuere, magna sed pulv...</p>
                    <p class="more">
                        more <i class="bi bi-arrow-right-short" style="font-weight: bold;"></i>
                    </p>
                </div>
                <div class="other-file">
                    <h3>anune.mp3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce
                        posuere, magna sed pulv...</p>
                    <p class="more">
                        more <i class="bi bi-arrow-right-short" style="font-weight: bold;"></i>
                    </p>
                </div>
                <div class="other-file">
                    <h3>anune.mp3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce
                        posuere, magna sed pulv...</p>
                    <p class="more">
                        more <i class="bi bi-arrow-right-short" style="font-weight: bold;"></i>
                    </p>
                </div>
                <p class="more" style="font-size: 20px; text-align: center; width: 100%;">
                    More <i class="bi bi-arrow-right-short"
                        style="font-weight: bold; justify-self: center; align-self: center;"></i>
                </p>
            </div>
        </div>

    </div>
    <script>
        function confirmSave(event) {
            event.preventDefault(); // Prevent the form from submitting immediately
            Swal.fire ({
                title: "Do you want to save the changes?",
                showCancelButton: true,
                confirmButtonText: "Save",
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.submit(); // Submit the form if confirmed
                }
            })
        }

        document.getElementById('chart-box').addEventListener('submit', confirmSave);
        document.getElementById("chart-box").style.display = "block";
    </script>
{% endblock %}
