{% extends "nav-bar.html" %}

{% block styleScript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/input.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .sat .translate, .ner-results .translate {
            max-height: 175px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .translate {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="box">
        <div class="stt-vz">
            <form class="stt-detil" method="post" enctype="multipart/form-data" style="width: 25rem;">
                {% csrf_token %}
                <div class="project-name" style="margin-bottom: 1rem;">
                    <h1 class="text-3xl font-bold">SPEECH TO TEXT</h1>
                </div>
                <div class="lang">
                    {{ user.username }}
                    <h3>Language (Indonesia)</h3>
                </div>
                <div class="audio-file"
                    style="width: 100%; padding: 0.3rem; background: white; border: 1px #BFBFBF solid; border-radius: 5px;">
                    <input type="file" name="audio" id="" accept="audio/*">
                </div>
                <p style="font-style: italic;">require mp3, mpeg</p>
                <button type="submit" id="generate-stt">Generate</button>
                <div class="result-text">
                    <h3 style="margin-top: 15px;">Text Result</h3>
                    <div class="result-box">
                        {{ transcription }}
                    </div>
                </div>
            </form>
            <div class="container">
                {% if transcription %}
                    <form class="chart-box" id="chart-box" method="post" action="{% url 'save_results' %}">
                        <div class="sat">
                            <h3 class="analysis-title">Sentiment Analysis</h3>
                            <div class="translate">
                                {% csrf_token %}
                                <input type="hidden" name="text" value="{{ transcription }}">
                                <input type="hidden" name="file_name" value="{{ file_name }}">
                                {% for sentence, positive, negative, neutral in sentences_with_sentiment %}
                                <input type="hidden" name="sentences" value="{{ sentence }}">
                                <div class="sentiment">
                                    <input type="hidden" name="positive" value="{{ positive }}">
                                    <input type="hidden" name="neutral" value="{{ neutral }}">
                                    <input type="hidden" name="negative" value="{{ negative }}">
                                    {% if positive > neutral and positive > negative %}
                                        <span class="positive text">
                                            {{ sentence }}.
                                            <span class="positive-t text-t">
                                                <p class="bigger">Positive</p>
                                            </span>
                                        </span>
                                    {% elif neutral > positive and neutral > negative %}
                                        <span class="neutral text">
                                            {{ sentence }}.
                                            <span class="neutral-t text-t">
                                                <p class="bigger">Neutral</p>
                                            </span>
                                        </span>
                                    {% else %}
                                        <span class="negative text">
                                            {{ sentence }}.
                                            <span class="negative-t text-t">
                                                <p class="bigger">Negative</p>
                                            </span>
                                        </span>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>                    
                        </div>
                        <div class="ner-results">
                            <h3 class="analysis-title">Named Entities</h3>
                            <ul class="translate">
                                {% for entity in named_entities %}
                                    <input type="hidden" name="named_entities_texts" value="{{ entity.teks }}">
                                    <input type="hidden" name="named_entities_labels" value="{{ entity.label }}">
                                    {% if entity.label == "" or entity.label == '' %}
                                    <span>{{ entity.teks }}</span>
                                    {% else %}
                                    <span class="ner text">
                                        {{ entity.teks }}
                                        <span class="ner text-t">
                                            {{ entity.label }}
                                        </span>
                                    </span>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="wordcloud">
                            <h3 class="analysis-title">Word Cloud</h3>
                            <div class="translate">
                                <img src="data:image/png;base64,{{ wordcloud }}" alt="Word Cloud">
                            </div>
                        </div>
                        <button type="submit" id="generate-stt">Save</button>
                    </form>
                {% else %}
                    <div class="placeholder">
                        <img src="{% static 'media/image/AudioFile.svg' %}" alt="Audio File">
                        <h4 class="no-projects-text" style="color: #a1b9d7; font-size: 18px; font-weight: 500; margin-bottom: 20px; align-self: center;">No file attached, please choose file and generate! </h4>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="detil-other">
            <div class="other-file-title" style="margin-bottom: 1rem;">
                <h1 class="text-2xl font-bold">Other Latest Input</h1>
            </div>
            <div class="other-files">
                {% for transcribe in trans %}
                    <div class="other-file">
                        <h3>{{ transcribe.title }}</h3>
                        <p>{{ transcribe.trans_result|truncatewords:20 }}</p>
                        <a class="more" href="{% url 'detil_view' transcribe.id %}">
                            <p class="more">
                                more <i class="bi bi-arrow-right-short" style="font-weight: bold;"></i>
                            </p> 
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a class="more" href="{% url "home" %}">
                <p class="more" style="font-size: 20px; text-align: center; width: 100%;">
                    More <i class="bi bi-arrow-right-short"
                        style="font-weight: bold; justify-self: center; align-self: center;"></i>
                </p>
            </a>
        </div>
    </div>
    <script>
        document.querySelector('.stt-detil').addEventListener('submit', function(event) {
            var audioInput = document.querySelector('input[name="audio"]');
            if (audioInput.files.length === 0) {
                event.preventDefault(); // Prevent the form from submitting
                Swal.fire({
                    title: 'Error!',
                    text: 'No file attached, please choose an audio file of .mp3/ .mpeg!',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });

        function confirmSave(event) {
            event.preventDefault(); // Prevent the form from submitting immediately
            Swal.fire ({
                title: "Do you want to save the changes?",
                showCancelButton: true,
                confirmButtonText: "Save",
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.submit(); // Submit the form if confirmed
                }
            })
        }

        document.getElementById('chart-box').addEventListener('submit', confirmSave);
        document.getElementById("chart-box").style.display = "block";
    </script>
{% endblock %}
