@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
    padding-left: 8rem;
    padding-right: 8rem; 
    padding-top: 3rem; 
    padding-bottom: 3rem;
}

h2 {
    font-size: large;
    color: #112D4E;
    font-weight: bold;
}

h3{
    font-size: larger;
    color: #112D4E;
    font-weight: bolder;
}

.detil-content, .stt-detil{
    display: flex;
    flex-direction: column;
    /* margin-left: 8rem; 
    margin-right: 8rem; 
    margin-top: 3rem; 
    margin-bottom: 3rem;  */
    padding: 3rem; 
    background: white; 
    box-shadow: 0px 4px 10px 5px rgba(63, 114, 175, 0.25); 
    border-radius: 20px; 
    justify-items: center;
}

/* .sat {
    display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between;
    justify-items: center;
    align-items: center; */
/* } */

/* .sa, .bar-chart {
    height: 100%;
}

.sa {
    width: 100%;
    margin-right: 20px; /* Memberi jarak antara elemen */
/*}
*/
/* .bar-chart {
    width: 100%;
} */
#barChart {
    width: max-content;
    height: 400px;
}

.other-file {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    padding-bottom: 1rem; 
    background: #DFEEFF; 
    border-radius: 20px; 
    justify-items: center;
}

.more {
    align-self: flex-end;
    justify-self: flex-end;
    color: #112D4E;
    font-weight: bold;
    flex-direction: row;
}

.detil-other {
    display: flex;
    flex-direction: column;
    /* margin-left: 8rem; 
    margin-right: 8rem;  
    margin-bottom: 3rem; */
    margin-top: 3rem; 
    padding: 3rem;  
    background: white; 
    box-shadow: 0px 4px 30px 18px rgba(63, 114, 175, 0.25); 
    border-radius: 20px; 
    justify-items: center;
}

.other-files {
    display: flex;
    flex-wrap: wrap;
}

#chart {
    text-align: center;  
    margin-bottom: 10px;
}

.stt-vz {
    display: flex;
    flex-direction: row;
    background: white; 
    box-shadow: 0px 4px 10px 4px rgba(63, 114, 175, 0.25); 
    border-radius: 20px; 
}

.result-text {
    border-top: 2px #BFBFBF solid;
    margin-top: 0.5rem;
    height: 100%;
}

#generate-stt {
    width: min-content;
    height: min-content;
    background-color: #3F72AF;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 5px;
}

.result-box {
    border: 1px #BFBFBF solid;
    min-height: 12rem;
    max-height: calc(100% - 43.8px);
    padding: 0.5rem;
    background-color: #9eb0cc;
}

.sat {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.SA {
    width: 30%;
}

.sa-info .sa-score-box {
    font-size: small;
}